html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.h-screen {
  height: 100vh;
}
.h-full {
  height: 100%;
}
.h-screen {
  min-height: 100vh;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.flex-col {
  flex-direction: column;
}
.gap-2 {
  gap: 0.5rem;
}

.flex-1 {
  flex: 1 1 0%;
}
